@font-face {
    font-family: 'ringbearer'; /*a name to be used later*/
    src: url('../fonts/RINGBEARER.ttf'); /*URL to font*/
}

body {
    background: 
        url(../images/background.jpg),
        rgba(0,0,0,.5);
    background-size: 100% auto;
}

.jumbotron {
    background: rgba(0,0,0,.5);
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: Albert;
    text-align: center;
    font-family: "ringbearer";
}

.mainContent {
    background: rgba(0,0,0,.5);
    color: white;
    border: 1px solid white;
}

.mainContent h1 {
    text-align: center;
    font-family: "Shadows Into Light", cursive;
}

h2 {
    text-align: center;
}